# =========================
# Python virtual environments
# =========================
venv/
.env/
.env*/
*venv*
lemon-venv/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Logs and outputs
# =========================
*.log
*.csv
*.out

# =========================
# ML / model files (optional)
# =========================


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
